.row-fluid
    .col-md-12
        .col-md-3
        .col-md-6
            .row-fluid
            %h1 Redeem Amazon Gift Card
            %div
                %ul.nav.nav-tabs{:role => "tablist"}
                    %li{:role => "presentation"}
                        %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#settings", :role => "tab"} Settings
                    %li.active{:role => "presentation"}
                        %a{"aria-controls" => "account", "data-toggle" => "tab", :href => "#account", :role => "tab", "aria-expanded" => "true"} Retailer Accounts
                    %li{:role => "presentation"}
                        %a{"aria-controls" => "mycode", "data-toggle" => "tab", :href => "#mycode", :role => "tab"} My Codes
                / Tab panes
                .tab-content
                    #settings.tab-pane{:role => "tabpanel"} 
                    #account.tab-pane.active{:role => "tabpanel"}
                        .row-fluid{:style => "padding: 20px 0"}
                            - if @acct
                                %form{:action => "update-account/#{@acct.id}", :method => "POST"}
                                    = render 'form'
                            - else
                                %form{:action => "add-new-account", :method => "POST"}
                                    = render 'form'
                    #mycode.tab-pane{:role => "tabpanel"} 
                        .row-fluid
                            - if @acct
                                %h3 Account Gift Card Activity
                            -else
                                %h3 There is no registered account
        .col-md-3


